.title {
    /*color : #FFFFFF;*/
    font-family: Lucida Sans;
    font-size : 1.75em;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    text-align: left;
    width : 50%;
    /*
    border: 2px solid;
    border-color: green;
    */
}

.accordian-active {
    background-color: #d3d3d3;
}