<script id="battleView" type="text/ng-template">
	<!-- Turn/Phase -->
	<div class="row-fluid text-center">
		<div class="span6 input-append input-prepend">
			<button class="btn btn-large btn-primary" ng-click="changeTurn(-1)">-</button>
			<input class="edit-btn-large" type="text" readonly="readonly" ng-model="current.dateTime"/>
			<button class="btn btn-large btn-primary" ng-click="changeTurn(1)">+</button>
		</div>
		
		<div class="span6 input-append input-prepend">
			<button class="btn btn-large btn-primary" ng-click="changePhase(-1)">-</button>
			<input class="edit-btn-large" type="text" readonly="readonly" ng-model="current.phase"/>
			<button class="btn btn-large btn-primary" ng-click="changePhase(1)">+</button>
		</div>
    </div>
	
	<div class="row-fluid">
		<tabset>
            <tab>
				<tab-heading><h4>Fire</h4></tab-heading>
                <% include fireCombat.html %>
            </tab>
            <tab>
				<tab-heading><h4>Melee</h4></tab-heading>
                <% include meleeCombat.html %>
            </tab>
            <tab>
				<tab-heading><h4>Morale</h4></tab-heading>
                <% include morale.html %>
            </tab>
            <tab>
				<tab-heading><h4>General</h4></tab-heading>
                <% include general.html %>
            </tab>
		</tabset>
    </div>
</script>
