<div class="container-fluid" ng-controller="FireCtrl">
	<!-- Attacker/Defender -->
	<div class="row-fluid text-center">
		<!-- Attacker -->
		<div class="span6">
			<h4><i>Attacker</i></h4>
			<div class="container-fluid">
				<div class="row-fluid text-center">
					<div class="span12 input-prepend input-append">
						<span class="add-on" style="font-size: 17.5px;padding: 11px 19px;">Value:</span>
						<button class="btn btn-large btn-primary" ng-click="changeAttackerValue(-1)">-</button>
						<input class="input-small edit-btn-large" type="number" ng-model="attackerValue" ng-change="changeAttackerValue(0)"/>
						<button class="btn btn-large btn-primary" ng-click="changeAttackerValue(1)">+</button>
					</div>
				</div>
				<div class="row-fluid text-center">
					<div class="span12">
						<div class="btn-group">
					        <button type="button" class="btn btn-large btn-primary" btn-checkbox ng-model="attacker1_3" ng-change="updateAttackValue(3.0)">x1/3</button>
					        <button type="button" class="btn btn-large btn-primary" btn-checkbox ng-model="attacker1_2" ng-change="updateAttackValue(2.0)">x1/2</button>
					        <button type="button" class="btn btn-large btn-primary" btn-checkbox ng-model="attacker3_2" ng-change="updateAttackValue(1.5)">x3/2</button>
					        <button type="button" class="btn btn-large btn-primary" btn-checkbox ng-model="attackerCann" ng-change="updateAttackCannister()">Cannister</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Defender -->
		<div class="span6">
			<h4><i>Defender</i></h4>
			<div class="container-fluid">
				<div class="row-fluid text-center">
					<div class="span12 input-prepend input-append">
						<span class="add-on" style="font-size: 17.5px;padding: 11px 19px;">Value:</span>
						<button class="btn btn-large btn-primary" ng-click="changeDefenderValue(-1)">-</button>
						<input class="input-small edit-btn-large" type="number" ng-model="defenderValue" ng-change="changeDefenderValue(0)" />
						<button class="btn btn-large btn-primary" ng-click="changeDefenderValue(1)">+</button>
					</div>
				</div>
				<div class="row-fluid text-center">
					<div class="span12 input-prepend input-append">
						<span class="add-on" style="font-size: 17.5px;padding: 11px 19px;">Incr:&nbsp;&nbsp;&nbsp;</span>
						<button class="btn btn-large btn-primary" ng-click="changeDefenderIncrements(-1)">-</button>
						<input class="input-small edit-btn-large" type="number" ng-model="defenderIncrements" ng-change="updateResults()"/>
						<button class="btn btn-large btn-primary" ng-click="changeDefenderIncrements(1)">+</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Odds -->
	<div class="row-fluid text-center" style="margin-top: 15px">
		<div class="span12">
			<span class="add-on" style="font-size: 17.5px;padding: 11px 19px;">Odds:</span>
			<select type="input" ng-model="selectedOdds" ng-options="o.display for o in odds" ng-change="updateResults()"></select>
		</div>
	</div>
	
	<!-- Dice -->
	<div class="row-fluid text-center" style="margin-top: 5px">
		<div class="span12">
			<div class="die" ng-model="dice.die1" ng-class="die(1)" ng-click="dieIncr(1)"></div>
			<div class="die" ng-model="dice.die2" ng-class="die(2)" ng-click="dieIncr(2)"></div>
			<div class="die" ng-model="dice.die3" ng-class="die(3)"></div>
			<div class="die" ng-model="dice.die4" ng-class="die(4)"></div>
			<div class="die" ng-model="dice.die5" ng-class="die(5)"></div>
			<button class="btn btn-large btn-danger" style="margin-left: 10px; margin-bottom: 25px" ng-click="roll()">Roll</button>
		</div>
	</div>
	
	<!-- Results -->
	<div class="row-fluid text-center" style="margin-top: 5px">
		<div class="span6 input-prepend input-append">
			<span class="add-on">Results:</span>
			<input type="text" class="input-mini" readonly="readonly" ng-model="result"/>
            <% include leaderloss.html %>
		</div>
	</div>
</div>
