<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>La Bataille Assistant</title>
    <meta name="description" content="La Bataille Assistant">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/lb/favicon.ico">
	<link rel="apple-touch-icon" href="/images/lb/app-icon.png">
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css">
      <!-- build:css styles/main.css -->
    <!--link rel="stylesheet" href="styles/bootstrap.css"-->
    <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.css" media="screen">    
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/lb.css">
    <link rel="stylesheet" href="/styles/dice.css">
	<link rel="stylesheet" href="/components/bootstrap/css/bootstrap-responsive.css" media="screen">
    <!-- endbuild -->
    <%-stylesheets%>
  </head>
  <body ng-app="wgaPortalLbApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Header -->
    <div class="navbar navbar-fixed-top" ng-controller="MainCtrl">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
      		<span class="title1">La Bataille</span> <span class="title2">Assistant</span>
		  </a>
		  <div class="navbar-text pull-left" ng-show="current.battle && current.scenario">
		  	<i><span ng-bind="current.battle.name"></span> - <span ng-bind="current.scenario.name"></span></i>
		  </div>
		  
          <div collapse="navCollapsed" class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
			  <li class="divider-vertical"></li>
              <li><a href="#" ng-show="current.battle && current.scenario" ng-click="save()">Save</a></li>
              <li><a href="#" ng-show="current.battle && current.scenario" ng-click="reset()">Reset</a></li>
			  <li class="divider-vertical" ng-show="current.battle && current.scenario"></li>
              <li><a href="/" target="_self">Games</a></li>
              <li ng-class="active(1)"><a href="/lb/battles">Battles</a></li>
              <li ng-class="active(2)"><a href="/lb/about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
	  <div style="display: none;"> 
	  	<div id="HTML5Audio">
			<input id="audiofile" type="text" value="" style="display: none;"/><br />
		</div>
		<audio id="lbAudio">
			<span id="OldSound"></span>        
		</audio>
	  </div>
	  <%-blocks.header%>
    </div>

	<!-- Content -->
    <%-body -%>

	<!--
	<hr>
	
	<footer>
		<p class="muted credit">La Bataille Assistant, a friendly little helper for La Bat enthusiasts by <a href="www.ica.com">ICA, Inc 2013</a>.</p>
	</footer>
	-->
	
	<!-- JAVASCRIPT -->
    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-resource/angular-resource.js"></script>
    <script src="/components/angular-cookies/angular-cookies.js"></script>
    <script src="/components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.4.0.js"></script>
    <script src="/components/globalize/globalize.js"></script>
    <script src="/components/globalize/globalize.cultures.js"></script>
    <script src="/components/underscore/underscore.js"></script>
    <script src="/components/modernizr/modernizr.js"></script>
    <%-scripts%>
  </body>
</html>
