<div class="container-fluid" ng-controller="MoraleCtrl" >
	<!-- Morale -->
	<div class="row-fluid text-center">
		<div class="span12 input-prepend input-append">
			<span class="add-on" style="font-size: 17.5px;padding: 11px 19px;">Morale:</span>
			<button class="btn btn-large btn-primary" ng-click="changeMorale(-1)">-</button>
			<input class="input-small edit-btn-large" type="number" ng-model="morale" ng-change="updateResults()"/>
			<button class="btn btn-large btn-primary" ng-click="changeMorale(1)">+</button>
		</div>								
	</div>

	<!-- Dice -->
	<div class="row-fluid text-center">
		<div class="span12">
			<div class="die" ng-model="dice.die1" ng-class="die(1)" ng-click="dieIncr(1)"></div>
			<div class="die" ng-model="dice.die2" ng-class="die(2)" ng-click="dieIncr(2)"></div>
			<button class="btn btn-large btn-danger" style="margin-left: 10px; margin-bottom: 27px" ng-click="roll()">Roll</button>
		</div>
	</div>
	
	<!-- Modifiers -->
	<div class="row-fluid text-center">
		<div class="span12">
			<button class="btn btn-large btn-primary" ng-click="changeDice(-6)">-6</button>
			<button class="btn btn-large btn-primary" ng-click="changeDice(-3)">-3</button> / 
			<button class="btn btn-large btn-primary" ng-click="changeDice(3)">+3</button>
			<button class="btn btn-large btn-primary" ng-click="changeDice(6)">+6</button>
		</div>
	</div>
	
	<!-- Results -->
	<div class="row-fluid text-center" style="margin-top: 15px">
		<div class="span12 control-group input-prepend" ng-class="{success: result=='Pass', error: result=='Fail'}">
			<span class="add-on">Results:</span>
			<input type="text" readonly="readonly" ng-model="result"/>
		</div>
	</div>
</div>
