<% layout('layout') -%>

<div class="container-fluid" ng-view>
</div>

<% include battles.html %>
<% include battle.html %>
<% include about.html %>

<% script("/scripts/lib/module.js") -%>
<% script("/scripts/lib/services/localStorage.js") -%>
<% script("/scripts/lib/services/random.js") -%>
<% script("/scripts/lib/services/sound.js") -%>
<% script("/scripts/lib/services/dice.js") -%>
<% script("/scripts/scs/services/game.js") -%>
<% script("/scripts/scs/services/barrage.js") -%>
<% script("/scripts/scs/controllers/main.js") -%>
<% script("/scripts/scs/controllers/battles.js") -%>
<% script("/scripts/scs/controllers/battle.js") -%>
<% script("/scripts/scs/controllers/barrage.js") -%>
<% script("/scripts/scs/controllers/about.js") -%>
<% script("/scripts/scs/app.js") -%>
